* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
body{
  /* Created with https://www.css-gradient.com */
background: #172726;
background: -webkit-linear-gradient(top left, #172726, #2F1229);
background: -moz-linear-gradient(top left, #172726, #2F1229);
background: linear-gradient(to bottom right, #172726, #2F1229);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
